footer {
  .social-media-container {
    padding: 3rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #cccccc80;
    svg {
      width: 45px;
      height: 45px;
      transition: all 1s ease;
    }
    .instagram {
      &:hover path {
        stroke: rgb(255, 0, 85);
      }
    }
    .linkedin {
      &:hover path {
        fill: blue;
      }
    }
    .gmail {
      &:hover path,  &:hover {
        stroke: rgb(255, 0, 85);
        fill: rgb(255, 0, 85);
      }
    }
    .whatsapp {
      &:hover path,
      &:hover {
        stroke: rgb(0, 255, 85);
        fill: rgb(0, 255, 85);
      }
    }
  }
  .amin-content {
    text-align: center;
    padding: 2rem;
    a {
      padding: 0 1rem;
      color: cornflowerblue;
      &:hover {
        color: coral;
      }
    }
  }
}
